<link href="../../css/nodo.css" rel="stylesheet" />
<div cg-busy="myPromise" ng-init="init()" resize>
    <div id="contenedor">
        <section id="header">
            <div class="col-xs-9" id="folio" ng-hide="idProceso==2">
                {{ 'Orden de Compra: ' + expediente.folio + ' '}} <span class="glyphicon glyphicon-log-out" aria-hidden="true" ng-hide="expediente.alias == null" tooltip="{{ 'Orden plan piso: ' + expediente.alias }}"></span>
            </div>
            <div class="col-xs-9" ng-show="idProceso==2">
                {{ 'Cotización: ' + expediente.folio + ' '}} <span class="glyphicon glyphicon-log-out" aria-hidden="true" ng-hide="expediente.alias == null" tooltip="{{ 'Orden plan piso: ' + expediente.alias }}"></span>
            </div>
            <div class="col-xs-3" ng-class="{'cancelado': expediente.estatusExpediente == 'Cancelado', 'estatus': expediente.estatusExpediente == 'En Proceso'}" id="estatus">
                {{ expediente.estatusExpediente }}
            </div>
        </section>
        <section id="depends" tooltip="Orden padre" ng-click="VerOrdenPadre(expediente)" ng-hide=" expediente.folioPadre == '' ">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> {{ expediente.folioPadre }}
        </section>
        <section id="extends" tooltip="Orden hijo" ng-click="VerOrdenHijo(expediente)" ng-hide=" expediente.folioHijo == null ">
            {{ expediente.folioHijo }} <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
        </section>
        <section id="details">
            <div id="row data">
                <div class="etiqueta" ng-show="idProceso==2">
                    Id Cliente
                </div>
                <div class="texto" ng-show="idProceso==2">
                    {{ expediente.esPlanta}}
                </div>
                <div class="etiqueta" ng-show="idProceso==1">
                    Solicitante
                </div>
                <div class="etiqueta" ng-show="idProceso==2">
                    Cliente
                </div>
                <div class="texto">
                    {{ expediente.nombreUsuario }}
                </div>
                <div class="etiqueta">
                    Empresa
                </div>
                <div class="texto">
                    {{ expediente.empresa }}
                </div>
                <div class="etiqueta">
                    Agencia
                </div>
                <div class="texto">
                    {{ expediente.agencia }}
                </div>
                <div class="etiqueta">
                    Departamento
                </div>
                <div class="texto">
                    {{ expediente.departamento }}
                </div>
                <!--  <hr> -->
                <div class="etiqueta">
                    Ult. Modificación
                </div>
                <div class="texto">
                    {{ expediente.fechaUltimoMovimiento }}
                </div>
                <!--BEGIN Para mostrar el tipo de venta  -->
                <div class="etiqueta" ng-show="idProceso==2">
                    Tipo de venta:
                </div>
                <div class="textodos" ng-show="idProceso==2">
                    {{expediente.nombreTipoVenta}}
                </div>
                <!--END Para mostrar el ripo de venta  -->
            </div>
        </section>
        <section id="navigator">
            <ul id="standard">
                <li ng-repeat="nodo in listaNodos">
                    <img src="{{ 'image/icons/' + nodo.imagen }}" class="logotipo" />
                    <h4 class="nombre" tooltip="{{ nodo.descripcion }}"> {{ nodo.nombre }}</h4>
                    <h5 class="descripcion"> {{ }}</h4>
        <div class="alerta" ng-hide="{{ nodo.alertas == 0 }}">
          {{ nodo.alertas }}
        </div>
        <div class="numero">
          {{ nodo.id }}
        </div>
        <div class="cerradoLabel" ng-class="{ 'oculto': nodo.estatus == 2, 'cerradoCompletado': nodo.estatus == 3, 'cerradoPendiente': nodo.estatus == 1}">
          {{ ( nodo.estatus == 3 ? 'Completado' : 'Pendiente' ) }}
        </div>
        <div class="desdeLabel" tooltip="Inicio" ng-hide=" nodo.fechaInicio == null ">
         <div class="glyphicon glyphicon-time desdeTexto" aria-hidden="true"></div><div class="desdeTexto">{{ nodo.fechaInicio | date:'MM/dd/yy @ h:mma'}}</div> 
       </div>
       <div class="hastaLabel" tooltip="Término" ng-hide=" nodo.fechaFin == null ">
        <div class="glyphicon glyphicon-time desdeTexto" aria-hidden="true"></div><div class="desdeTexto">{{ nodo.fechaFin | date:'MM/dd/yy @ h:mma' }}</div>
      </div>
    </li>
  </ul>
</section>
<section class="control">
  <div id="navigateControl">
    <nav id="navigate">
      <ul ng-class="{'pagination-green': idProceso == 2, 'pagination': idProceso == 1}">
        <li>
        <a class="prev anavigatorNode" tooltip="Nodo Anterior"><span aria-hidden="true">«</span></a>
        </li>
        <li ng-repeat="nodo in listaNodos" ng-class="{ 'active': nodo.active == 1 , 'disabled': nodo.enabled == 0 }">
        <a ng-click="setPage(nodo)" tooltip="{{ nodo.nombre + ( nodo.enabled == 0 ? ' (No disponible para su perfil)' : '') }}" ng-class="{ 'cerrado': nodo.estatus != 1 && nodo.active != 1 && idProceso==1,'activoC':nodo.estatus != 1 && nodo.active != 1 && idProceso==2, 'nodoDisabled': nodo.enabled == 0 }" class="anavigatorNode">{{ nodo.id }}</a></li>
        <li><a class="next anavigatorNode" tooltip="Siguiente Nodo"><span aria-hidden="true">»</span></a></li>
      </ul>      
    </nav>
  </div>
  <hr />
</section>
<section id="loader" ng-show="isLoading">
  <div class="loading">
    <div class="windows8">
      <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
      </div>
    </div>
  </div>
</section>

<section id="detail" ng-show="!isLoading" ng-hide="currentNode.estatus == 1">
  <div class="row linea">
    <div class="col-sm-7">
      <h4>Contenido del NODO {{ currentNode.id }} <span class="label label-default">{{ listaDocumentos.length }}</span></h4>
      <div class="list-group" id="viewerDocs" ng-controller="documentoController">
        <div class="list-group-item" ng-repeat="documento in listaDocumentos" ng-class="{ 'disabled':  documento.consultar == 0, 'noExiste': documento.existeDoc == '' }" tooltip="{{( documento.consultar == 0 ? 'No disponible para su perfil' : '' )}}">
          <strong> {{ documento.nombreDocumento }}</strong> {{ documento.descripcion }}
          <div class="botoneraDocumento">
            <button type="button" class="btn btn-primary btn-xs" tooltip="{{ documento.consultar == 1 ? 'Ver documento' : 'No puede realizar está acción' }}" ng-class="{ 'disabled': documento.consultar != 1 }" ng-click="VerDocumento(documento)"
            ng-hide="(documento.cargar != 0 && documento.existeDoc == '')" ng-disabled="documento.existeDoc == ''">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span> 
            </button>
            <!--30/05/2016 LMS para ocultar boton descargar-->
            <!--a type="button" class="btn btn-info btn-xs" tooltip="Descargar" href="{{ documento.existeDoc }}" ng-class="{ 'disabled': documento.descargar != 1 }" download ng-hide="(documento.cargar != 0 && documento.existeDoc == '')">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 
            </a-->
            <button type="button"  class="btn btn-success btn-xs" tooltip="Enviar" ng-click="ShowEnviar(documento)" ng-class="{ 'disabled': documento.enviarEmail != 1 }" ng-hide="(documento.cargar != 0 && documento.existeDoc == '')" ng-disabled="documento.existeDoc == ''">
              <span class="glyphicon glyphicon-send" aria-hidden="true"></span>  
            </button>
            <button type="button" class="btn btn-warning btn-xs" tooltip="Cargar documento" ng-click="ShowCargar(documento)"
                    ng-hide="documento.cargar == 0 || documento.consultar == 0">
              <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span>  
            </button>
          </div>          
        </div>
        <!-- Prueba -->
        <!-- <div class="list-group-item"  ng-hide="(currentNode.id < 14 && idProceso==1)">
          <strong> PÓLIZAS</strong>  
          <div class="botoneraDocumento">
            <button type="button" class="btn btn-primary btn-xs" ng-click="getPolizas(expediente.folio)">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span> 
            </button>
          </div>                  
        </div> -->
        <!--  -->
      </div>
    </div>
    <div class="col-sm-7">
      <h4>Alertas <span class="label label-default">{{ listaAlertas.length }}</span></h4>
      <div class="alert alert-warning alert-dismissible" role="alert"  ng-repeat="alerta in listaAlertas">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ alerta.nombre + '!  '}}</strong> {{ alerta.descripcion }}
      </div>
    </div>
    <div class="col-sm-7" ng-if="(currentNode.id == 4 && usuarioCXP == empleado.idUsuario)">    
        <button type="button" class="btn btn-primary pull-right" ng-click="CancelarOrdenCompra(expediente.folio)">Solicitar Cancelación</button>        
    </div>
    <div class="col-sm-7" ng-if="(currentNode.id == 1 && idProceso == 2 && unidadesApartadas.idGerenteVentas == empleado.idUsuario)">   
      <div class="alert alert-info" role="alert">
        Esta opción solicita el cambio de estatus de <strong>Apartada</strong> a <strong>Disponible</strong> de la unidad: <strong>{{unidadesApartadas.numeroSerie}}</strong>
        <button type="button" class="btn btn-primary space-btn" ng-click="cambiaEstatusApartada()" clicked-disable>Enviar Solicitud</button> 
      </div>    
    </div>
    <div class="col-sm-7" ng-if="(currentNode.id == 14 && permisoCerrar.respuesta == 1)">    
        <button type="button" class="btn btn-primary pull-right" ng-click="CerrarNodo(currentNode.id)">Finalizar Expediente</button>        
    </div>
  </div>
  <br>
  <br>
</section>
</div>
</div>

<script type="text/javascript">
function nodisponible() {
 var scope = angular.element($("#viewerDocs")).scope();
 scope.$apply(function(){
  scope.NoDisponible();
})
}
</script>